$from-color: #71279e;
$to-color: #371f4f;

@-webkit-keyframes blinking {
  from {
    background-color: $from-color;
    box-shadow: 0 0 100px $from-color;
  }

  to {
    background-color: $to-color;
    box-shadow: 0 0 30px $to-color;
    width: 5px;
    height: 5px;
  }
}

@keyframes blinking {
  from {
    background-color: $from-color;
    box-shadow: 0 0 100px $from-color;
  }

  to {
    background-color: $to-color;
    box-shadow: 0 0 30px $to-color;
    width: 5px;
    height: 5px;
  }
}

div.light {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  -webkit-animation-duration: 2s;
  -webkit-animation-name: blinking;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;

  animation-duration: 2s;
  animation-name: blinking;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.container {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
